@model IEnumerable<MagazinBijuteri.Models.UtilizatorModel>

@{
    ViewBag.Title = "Utilizator";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @style = "color: white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
       
        <td>
            @Html.ActionLink("Editare", "Edit", new { id=item.Id }, new { @style = "color: white" }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
