@model IEnumerable<MagazinDeBijuteriiPROIECTFINAL.Models.ProdusModel>

@{
    ViewBag.Title = "Lista de produse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p style="color: white">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantitate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color: white">
        <td style="color: white">
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td style="color: white">
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td style="color: white">
            @Html.DisplayFor(modelItem => item.Cantitate)
        </td>
        <td style="color: white">
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdusId })
        </td>
    </tr>
}

</table>
