@model IEnumerable<MagazinBijuteri.Models.CosCumparaturi>

@{
    ViewBag.Title = "Index";
}

<h2 style="color: white">Cos de Cumparaturi</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @style = "color: white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantitate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantitate)
        </td>
        <td style="color:white">
            @Html.ActionLink("Editare", "Edit", new { id = item.ProdusId }, new { @style = "color: white" }) |
            @Html.ActionLink("Detalii", "Details", new { id = item.ProdusId }, new { @style = "color: white" }) |
            @Html.ActionLink("Sterge", "Delete", new { id = item.ProdusId }, new { @style = "color: white" })
        </td>
    </tr>
}

</table>
